.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  
    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }
  }
  