.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    display: none;
  
    img {
      width: 100%;
      height: auto;
    }
  }
  
  .navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  
    button {
      background-color: #3498db;
      color: #fff;
      border: none;
      padding: 8px;
      border-radius: 50%;
      cursor: pointer;
  
      &:hover {
        background-color: #2980b9;
      }
    }
  }